<div >
  <h1>  /<%=@board.board_id%>/ </h1>
  <table class="table">
    <tr>
      <th>Occurrences</th>
      <td>Post Text</td>
    </tr>

    <% @top_posts.each do |tp| %>
    <tr>
      <% next if tp[0].nil? || tp[0].text.nil? || tp[0].text.strip == "" %>
      <% sanitized = ActionView::Base.full_sanitizer.sanitize(tp[0].text.gsub(/<a.*&gt;&gt;.*\/a>/, ""), {tags:%w(br)}).html_safe%>
      <% next if sanitized.split.length <=1%>

      <td><%= tp.count %></td>
      <td><a href="/chan_boards/<%= "#{@board.id}" %>/posts/<%=tp[0].post_num%>">
        <%=sanitized%></a>
      </td>
    </tr>
    <%end%>
  </table>
</div>
