<section id="main">
  <div id="post-data">
    <%= @posts[0].text.html_safe %>
  </div>
  <table class="table">


    <tr>
      <th>OP</th>
      <th>Post Text</th>
      <th>Link</th>
      <th>Time Posted</th>
    </tr>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.op %>
        </td>
        <td>
          <%= post.text.html_safe %>
        </td>
        <td>
          <% link = "http://boards.4chan.org/#{post.board}/thread/#{post.op}#p#{post.post_num}"%>
          <a href="<%=link%>"> <%= "Link" %> </a>
        </td>
        <td>
          <%= DateTime.strptime(post.post_timestamp, "%s") %>
        </td>
      </tr>
    <%end%>
    </table>

</section>
