<section id="main">
  <div id="post-data">
    <%= @posts[0].text.html_safe %>
  </div>
  <table class="table">


    <tr>
      <th>OP</th>
      <th>Post No.</th>
      <th>Post Text</th>
      <% if @show_flags%>
        <th>Poster Flag</th>
      <%end%>

      <% if @show_ids%>
        <th>Poster ID</th>
      <%end%>

      <th>Link</th>
      <th>Time Posted</th>
    </tr>
    <% if !@posts.nil? %>
      <% @posts.each do |post| %>
      <% thread_op = ChanThread.find(post.chan_thread_id).op %>

        <tr class="post-text-display">
          <td>

          <%= thread_op %>
          </td>
          <td>
            <%= post.post_num %>
          </td>
          <td>
              <%= post.text.html_safe %>
          </td>

          <% if @show_flags%>
            <td>
                <%= image_tag("https://s.4cdn.org/image/country/#{post.nat_flag.downcase}.gif", alt:post.nat_flag) %>
            </td>
          <%end%>

          <% if @show_ids%>
            <td>
              <%= post.poster_id %>
            </td>
          <%end%>

          <td>
            <% link = "http://boards.4chan.org/#{@board.board_id}/thread/#{thread_op}#p#{post.post_num}" %>
            <a href="<%=link%>"> <%= "Link" %> </a>
          </td>
          <td>
            <%= DateTime.strptime(post.post_timestamp, "%s") %>
          </td>
        </tr>
      <%end%>
    <%end%>
    <%if !@archived.nil? %>

      <% @archived.each do |post|  %>
      <tr>
        <td>
          <%= post.op %>
        </td>
        <td>
          <%= post.text.html_safe %>
        </td>
        <td>
          ---
        </td>
        <td>
          <%= DateTime.strptime(post.post_timestamp, "%s") %>
        </td>
      </tr>
      <% end %>
      <% end %>
    </table>

</section>
