<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AgendaDetector</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "partial/navbar", locals: {boards: @boards}%>
    <%= yield %>
  </body>
</html>
